<div class="dialog-container">
  <div mat-dialog-content>
    <p *ngIf="elemToDelete['nazwisko']">
      Czy na pewno usunąć <span style="font-weight: 600">{{ elemToDelete['nazwisko'] }} ?</span>
    </p>
    <p *ngIf="elemToDelete['il tap 1-os']">
      Czy na pewno usunąć <span style="font-weight: 600">{{ elemToDelete['pokój'] }} ?</span>
    </p>
    <p *ngIf="elemToDelete['il tap 2-os']">
      Czy na pewno usunąć <span style="font-weight: 600">{{ elemToDelete['pokój'] }} ?</span>
    </p>
  </div>
  <div class="dialog-actions" mat-dialog-actions>
    <button mat-stroked-button color="primary" mat-dialog-close cdkFocusInitial>Nie</button>
    <button mat-stroked-button color="warn" mat-dialog-close (click)="delete()">Tak</button>
  </div>
</div>
