<div class="dialog-container">
  <div mat-dialog-content *ngIf="elemToDelete">
    <div *ngIf="elemToDelete.hasOwnProperty('nazwisko')">
      <p *ngIf="elemToDelete['zakwaterowanie'] else infoForNonaccommodatedParticipant">
        By móc usunąć uczestnika, musisz najpierw <span class="bold-medium">zwolnić</span> zajmowaną przez niego <span class="bold-medium">kwaterę</span>.
      </p>
      <ng-template #infoForNonaccommodatedParticipant>
        Czy na pewno usunąć <span class="bold-medium">{{ elemToDelete['nazwisko'] }} ?</span>
      </ng-template>
    </div>
    <div *ngIf="elemToDelete.hasOwnProperty('il tap 1-os')">
      <p *ngIf="elemToDelete['nazwiska'] else infoForNonTakenAccommodation">
        By móc usunąć kwaterę, musisz najpierw <span class="bold-medium">odłączyć</span> przypisanych jej <span class="bold-medium">lokatorów</span>.
      </p>
      <ng-template #infoForNonTakenAccommodation>
        Czy na pewno usunąć <span class="bold-medium">{{ elemToDelete['pokój'] }} ?</span>
      </ng-template>
    </div>

    <div *ngIf="elemToDelete.hasOwnProperty('il tap 2-os')">
      <p *ngIf="elemToDelete['nazwiska'] else infoForNonTakenOtherAccommodation">
        By móc usunąć kwaterę, musisz najpierw <span class="bold-medium">odłączyć</span> przypisanych jej <span class="bold-medium">lokatorów</span>.
      </p>
      <ng-template #infoForNonTakenOtherAccommodation>
        Czy na pewno usunąć <span class="bold-medium">{{ elemToDelete['pokój'] }} ?</span>
      </ng-template>
    </div>

  </div>
  <div class="dialog-actions" mat-dialog-actions>

    <div *ngIf="(elemToDelete['zakwaterowanie'] || elemToDelete['nazwiska']) else noAndYesButton">
      <button mat-stroked-button color="primary" mat-dialog-close="">Rozumiem</button>
    </div>

    <ng-template #noAndYesButton>
      <button mat-stroked-button color="primary" mat-dialog-close cdkFocusInitial>Nie</button>
      <button mat-stroked-button color="warn" mat-dialog-close (click)="delete()">Tak</button>
    </ng-template>

  </div>
</div>
