<div class="other-accommodation-list-container">
  <app-top-filter [dataSource_]="dataSource" [summaryType_]="'other-accommodation'"></app-top-filter>

  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef> {{ column | uppercase }} </th>
      <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
    </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <mat-grid-list cols="1" rowHeight="35">
            <mat-grid-tile *ngIf="element['łóżko duże']">
              <span class="bold-medium">{{'Łóżko duże' | uppercase }}</span><span>{{ element['łóżko duże'] }}</span>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="element['il tap 2-os']">
              <span class="bold-medium">{{'Ilość tapczanów 2-os.' | uppercase }}</span><span>{{ element['il tap 2-os'] }}</span>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="element['łóżko pojed']">
              <span class="bold-medium">{{'Łóżko pojedyncze' | uppercase }}</span><span>{{ element['łóżko pojed'] }}</span>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="element['można dostawić']">
              <span class="bold-medium">{{ 'Wolne łóżka' | uppercase }}</span><span>{{ element['można dostawić'] }}</span>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="element['przydział']">
              <span class="bold-medium">{{ 'Przydział' | uppercase }}</span><span>{{ element['przydział'] }}</span>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr> -->
  </table>
</div>

