.form-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  form {
    padding: 1rem;
    width: 92%;
    margin: auto;
    height: 100%;
    border: 1px solid #3F51B5;
    display: flex;

    .part-width {
      width: 67%;
      &.thiner {
        width: 33%;
      }
      display: flex;
      flex-direction: column;

      &.bottom {
        align-items: center;
        justify-content: flex-end;

        .button-container {
          padding-bottom: 20px;
          button {
            width: 250px;
          }
        }
      }

      .obligatory-control {
        margin-bottom: 1rem;
      }

      .linear {
        display: flex;
        flex-direction: row;

        .quarter-width {
          padding:0 .5rem;
          width: 22%;
        }
      }
    }

  }
}
