.summary-container{
  position: relative;
  margin: 0 2rem;

  table {
    width: 100%;
  }

  .dialog-actions {
    display: flex;
    justify-content: flex-end;

    button {
      justify-content: flex-end;
      width: 200px;
    }
  }
}

th.mat-header-cell {
  font-weight: 500;
  letter-spacing: 1px;
  color: black;
  padding-right: 12px;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-description-attribution {
  opacity: 0.5;
}
