<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <app-side-menu></app-side-menu>
  </mat-drawer>

  <div class="sidenav-content">
    <router-outlet></router-outlet>

    <button class="call-to-action" mat-fab color="primary" (click)="toggleDrawer()" *ngIf="CTAVisible | async">
      <mat-icon>touch_app</mat-icon>
    </button>
    <button class="toggle-menu" mat-mini-fab color="primary" (click)="toggleDrawer()" *ngIf="!(CTAVisible | async)">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-raised-button class="route-back" color="primary" (click)="routeBack()" *ngIf="!(CTAVisible | async)">
      <span>Powrót</span>
    </button>
  </div>

</mat-drawer-container>
