<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <app-side-menu></app-side-menu>
  </mat-drawer>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
    <button class="call-to-action" mat-fab color="primary" (click)="toggleDrawer()" *ngIf="CTAVisible | async">
      <mat-icon>touch_app</mat-icon>
    </button>
    <button class="back-home" mat-fab color="primary" (click)="toggleDrawer()" *ngIf="!(CTAVisible | async)">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

</mat-drawer-container>
