.accommodation-list-container{
  position: relative;
  margin: 0 3rem;

  .mat-form-field {
    font-size: 14px;
    width: 50%;
  }

  .table-container {
    overflow: auto;
    height: 85vh;

    table {
      width: 100%;
    }
  }
}

th.mat-header-cell {
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
  background-color: #3F51B5;
  padding-right: 12px;
}

tr.example-detail-row {
  height: 0;

  .mat-cell {
    .example-element-detail {
      overflow: hidden;
      display: block;
      mat-grid-list {
        div {
          mat-grid-tile {
            .mat-grid-tile-content {
              justify-content: space-between !important;
            }
          }
        }
      }
    }
  }
}

::ng-deep {
  tr.example-detail-row {
    .mat-cell {
      background-color: lightgray;
      background-color: #efefef;
      .example-element-detail {
        overflow: hidden;
        display: block;
        mat-grid-list {
          div {
            mat-grid-tile {
              .mat-grid-tile-content {
                padding: 0 32em 0 8em;
                justify-content: space-between;
              }
            }
          }
        }
      }
    }
  }
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.close-icon {
  text-align: end;
  mat-icon {
    cursor: pointer;
    margin-bottom: 1rem;
  }
}




.example-element-description-attribution {
  opacity: 0.5;
}
